.boton-cancelar-reserva {
  border-radius: 20px;
  padding: 0.5rem 4rem 0.5rem 1rem;
  text-align: left;
  text-decoration: none;
  color: oklch(52.79% 0.005 271.32);
  display: flex;
  align-content: center;
  gap: 0.35rem;
  width: 70%;
  font-family: "Bricolage Grotesque", sans-serif;
  box-sizing: 0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border: none;
  max-width: 25%;
  margin-top: 0.5rem;
}

.boton-cancelar-reserva:hover {
  background-color: oklch(25.11% 0.006 258.36);
  color: oklch(91.87% 0.003 264.54);
  cursor: pointer;
}

.contenedor-mi-reserva {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 80%;
  text-align: left;
  gap: 0.35rem;
}

.mi-reserva-header {
  font-family: "Bricolage Grotesque", sans-serif;
}

.estado-text {
  font-family: "Quicksand", sans-serif;
  font-size: 1.25em;
}
