.viaje-info {
  font-family: "Bricolage Grotesque", sans-serif;
  text-align: left;
  margin: 1rem;
  min-width: 35%;
}

.viaje-info h2 {
  font-family: inherit;
  font-size: 3em;
}

.viaje-info p {
  font-family: "Quicksand", sans-serif;
  font-size: 1.25em;
}

.detalles-header {
  font-family: "Bricolage Grotesque", sans-serif;
}

@media (max-width: 768px) {
  .viaje-info {
    min-width: 90%;
    text-align: center;
  }

  .viaje-info h2 {
    font-size: 2em;
  }

  .viaje-info p {
    font-size: 1em;
  }
}

