.editar-viaje-container {
  background-color: oklch(95.57% 0.003 286.35);
  margin: auto 2rem;
  flex-grow: 1;
  border-radius: 20px;
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.editar-viaje-header {
  text-align: center;
  color: #2c3e50;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 4em;
}

.formulario-editar {
  width: 35%;
  padding: 2rem;
  border-radius: 20px;
  background: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: "Quicksand", sans-serif;
  align-items: center;
}

/* .input-text,
.texto-descripcion {
  width: 80%;
  font-family: "Quicksand", sans-serif;
  border-radius: 12px;
  border: 1px solid #ddd;
  font-size: 1rem;
  padding: 0.75rem;
} */

.texto-descripcion {
  min-height: 100px;
  resize: vertical;
  font-family: "Quicksand", sans-serif;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: oklch(25.11% 0.006 258.36);
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

.boton-editar-viaje {
  border-radius: 20px;
  padding: 0.5rem 2rem;
  text-align: center;
  text-decoration: none;
  color: oklch(52.79% 0.005 271.32);
  display: block;
  margin: 0 auto;
  font-family: "Bricolage Grotesque", sans-serif;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border: none;
  margin-top: 1.5rem; /* Más espacio arriba del botón */
}

.boton-editar-viaje:hover {
  background-color: oklch(25.11% 0.006 258.36);
  color: oklch(91.87% 0.003 264.54);
  cursor: pointer;
}

.mensaje-error {
  color: #e74c3c;
  font-size: 0.9rem;
  margin-top: -0.5rem;
  text-align: center;
}

.editar-viaje-container.edito-viaje {
  justify-content: space-evenly;
}

.boton-guardar-cambios {
  border-radius: 20px;
  padding: 0.5rem 4rem 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  color: oklch(52.79% 0.005 271.32);
  display: flex;
  align-content: center;
  gap: 0.35rem;
  width: 70%;
  font-family: "Bricolage Grotesque", sans-serif;
  box-sizing: 0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.boton-guardar-cambios:hover {
  background-color: oklch(25.11% 0.006 258.36);
  color: oklch(91.87% 0.003 264.54);
  cursor: pointer;
}

@media (max-width: 768px) {
  .editar-viaje-container {
    margin: 0;
    height: 100%;
    border-radius: 0;
  }

  .formulario-editar {
    width: 90%;
    padding: 1rem;
  }

  .editar-viaje-header {
    font-size: 2.5em;
  }
}

