.signup-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: "Bricolage Grotesque", sans-serif;
  align-items: center;
}

.signup-container h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.signup-form {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  width: 30vw;
  min-width: 200px;
}

.signup-button {
  padding: 1rem 2rem;
  background-color: oklch(95.57% 0.003 286.35);
  color: oklch(52.79% 0.005 271.32);
  text-decoration: none;
  border-radius: 30px;
  font-size: 1.2rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  display: flex;
  align-items: center;
  gap: 0.35rem;
  font-family: "Bricolage Grotesque", sans-serif;
  justify-content: center;
}

.signup-button:hover {
  background-color: oklch(25.11% 0.006 258.36);
  color: oklch(91.87% 0.003 264.54);
}

.signup-button {
  text-decoration: none;
}

.login-button:hover {
  cursor: pointer;
}
