.navbar {
  margin: auto 0;
  height: 95%;
  background-color: oklch(95.57% 0.003 286.35);
  padding: 1rem;
  min-width: 230px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  font-family: "Bricolage Grotesque", sans-serif;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition: transform 0.3s ease-in-out;
}

.navbar-link {
  border-radius: 20px;
  padding: 0.5rem 4rem 0.5rem 1rem;
  text-align: left;
  text-decoration: none;
  color: oklch(52.79% 0.005 271.32);
  display: flex;
  align-content: center;
  gap: 0.35rem;
  width: 70%;
  font-family: "Bricolage Grotesque", sans-serif;
  box-sizing: 0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.navbar-link:hover {
  background-color: oklch(25.11% 0.006 258.36);
  color: oklch(91.87% 0.003 264.54);
  cursor: pointer;
}

.navbar-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  font-family: "Bricolage Grotesque", sans-serif;
  box-sizing: 0;
}

.navbar-submenu {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.hamburger-icon {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1001;
}

@media (max-width: 768px) {
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    transform: translateX(-100%);
    z-index: 1000;
  }

  .navbar.active {
    transform: translateX(0);
  }

  .hamburger-icon {
    display: block;
  }
}

